In [214]:
import requests
import pandas as pd
import numpy as np
from autoscraper import AutoScraper
from bs4 import BeautifulSoup
# Function to extract Product Title
def get_title(soup):
    try:
        # Outer Tag Object
        title = soup.find("span", attrs={"id":'productTitle'})
        
        # Inner NavigatableString Object
        title_value = title.text

        # Title as a string value
        title_string = title_value.strip()

    except AttributeError:
        title_string = ""

    return title_string

# Function to extract Product Price
def get_price(soup):

    try:
        price = soup.find("span", attrs={'id':'priceblock_ourprice'}).string.strip()

    except AttributeError:

        try:
            # If there is some deal price
            price = soup.find("span", attrs={'id':'priceblock_dealprice'}).string.strip()

        except:
            price = ""

    return price

# Function to extract Product Rating
def get_rating(soup):

    try:
        rating = soup.find("i", attrs={'class':'a-icon a-icon-star a-star-4-5'}).string.strip()
    
    except AttributeError:
        try:
            rating = soup.find("span", attrs={'class':'a-icon-alt'}).string.strip()
        except:
            rating = ""	

    return rating

# Function to extract Number of User Reviews
def get_review_count(soup):
    try:
        review_count = soup.find("span", attrs={'id':'acrCustomerReviewText'}).string.strip()

    except AttributeError:
        review_count = ""	

    return review_count

# Function to extract Availability Status
def get_availability(soup):
    try:
        available = soup.find("div", attrs={'id':'availability'})
        available = available.find("span").string.strip()

    except AttributeError:
        available = "Not Available"	

    return available
if __name__ == '_main_':

    # add your user agent 
    HEADERS = ({'User-Agent':'', 'Accept-Language': 'en-US, en;q=0.5'})

    # The webpage URL
    URL = "https://www.amazon.com/s?k=playstation+4"

    # HTTP Request
    webpage = requests.get(URL, headers=HEADERS)

    # Soup Object containing all data
    soup = BeautifulSoup(webpage.content, "html.parser")

    # Fetch links as List of Tag Objects
    links = soup.find_all("a", attrs={'class':'a-link-normal s-no-outline'})

    # Store the links
    links_list = []

    # Loop for extracting links from Tag Objects
    for link in links:
            links_list.append(link.get('href'))

    d = {"title":[], "price":[], "rating":[], "reviews":[],"availability":[]}
    
    # Loop for extracting product details from each link 
    for link in links_list:
        new_webpage = requests.get("https://www.amazon.com" + link, headers=HEADERS)

        new_soup = BeautifulSoup(new_webpage.content, "html.parser")

        # Function calls to display all necessary product information
        d['title'].append(get_title(new_soup))
        d['price'].append(get_price(new_soup))
        d['rating'].append(get_rating(new_soup))
        d['reviews'].append(get_review_count(new_soup))
        d['availability'].append(get_availability(new_soup))

    
    amazon_df = pd.DataFrame.from_dict(d)
    amazon_df['title'].replace('', np.nan, inplace=True)
    amazon_df = amazon_df.dropna(subset=['title'])
    amazon_df.to_csv("amazon_data.csv", header=True, index=False)
    print("hello")
    amazon_df.head()

In [87]:
HEADERS = ({'User-Agent':'', 'Accept-Language': 'en-US, en;q=0.5'})
try:
        
        response=requests.get(url="https://www.amazon.in/s?k=headphones",headers=HEADERS,timeout=5).text
        soup=BeautifulSoup(response)
        h2=soup.find('span',class_='a-size-base-plus')
        print(h2)
except:
        print("error")

None

In [5]:
amazonUrl="https://www.amazon.in/s?k=headphones"
Wanted=["boAt BassHeads 100 in-Ear Wired Headphones with Mic (Black)","394,468","₹349"]
scrapper=AutoScraper()
result=scrapper.build(url=amazonUrl,wanted_list=Wanted)
print(result)

['Noise Newly Launched Three Wireless On-Ear Headphones with 70H Playtime, 40mm Driver, Low Latency(up to 45ms),Dual Pairing, BT v5.3 (Chocolate Brown)', 'Best sellerin Over-Ear Headphones', 'JBL Tune 510BT, On Ear Wireless Headphones with Mic, up to 40 Hours Playtime, Pure Bass, Quick Charging, Dual Pairing, Bluetooth 5.0 & Voice Assistant Support for Mobile Phones (Black)', 'Amazon\'s Choicefor "headphones"', 'boAt BassHeads 100 in-Ear Wired Headphones with Mic (Black)', 'boAt Rockerz 450 Bluetooth On Ear Headphones with Mic, Upto 15 Hours Playback, 40MM Drivers, Padded Ear Cushions, Integrated Controls and Dual Modes(Aqua Blue)', 'boAt BassHeads 900 On-Ear Wired Headphone with Mic', 'Noise Newly Launched Three Wireless On-Ear Headphones with 70H Playtime, 40mm Driver, Low Latency(up to 45ms),Dual Pairing, BT v5.3 (Jet Black)', 'JBL C100SI Wired In Ear Headphones with Mic, JBL Pure Bass Sound, One Button Multi-function Remote, Angled Buds for Comfort fit (Black)', 'boAt Rockerz 255 Pro+ Bluetooth Neckband with Upto 60 Hours Playback, ASAP Charge, IPX7, Dual Pairing and Bluetooth v5.2(Teal Green)', 'Sony WH-CH720N, Wireless Over-Ear Active Noise Cancellation Headphones with Mic, up to 50 Hours Playtime, Multi-Point Connection, App Support, AUX & Voice Assistant Support for Mobile Phones (White)', 'Blaupunkt Newly Launched BH41 Bluetooth Wireless Over Ear Headphones I Long Playtime I 40MM Drivers I Foldable I Flexible & Light Weight I Built in Mic I TurboVolt Fast Charging', 'Best sellerin In-Ear Headphones', 'OnePlus Bullets Z2 Bluetooth Wireless in Ear Earphones with Mic, Bombastic Bass - 12.4 Mm Drivers, 10 Mins Charge - 20 Hrs Music, 30 Hrs Battery Life (Magico Black)', 'JBL C100SI Wired In Ear Headphones with Mic, JBL Pure Bass Sound, One Button Multi-function Remote, Premium Metallic Finish, Angled Buds for Comfort fit (Red)', 'Logitech H111 Wired On Ear Headphones With Mic Black', 'Zebronics Zeb-Storm Wired On Ear Headphone with 3.5mm Jack, Built-in Microphone for Calling, 1.5 Meter Cable, Soft Ear Cushion, Adjustable Headband, Foldable Ear Cups and Lightweight Design (Black)', 'ZEBRONICS Zeb-Bro in Ear Wired Earphones with Mic, 3.5mm Audio Jack, 10mm Drivers, Phone/Tablet Compatible(Blue)', 'Best sellerin On-Ear Headphones', 'boAt Rockerz 450 Bluetooth On Ear Headphones with Mic, Upto 15 Hours Playback, 40MM Drivers, Padded Ear Cushions, Integrated Controls and Dual Modes(Luscious Black)', 'Noise Newly Launched Three Wireless On-Ear Headphones with 70H Playtime, 40mm Driver, Low Latency(up to 45ms),Dual Pairin...', 'JBL Tune 510BT, On Ear Wireless Headphones with Mic, up to 40 Hours Playtime, Pure Bass, Quick Charging, Dual Pairing, Blu...', 'boAt Rockerz 450 Bluetooth On Ear Headphones with Mic, Upto 15 Hours Playback, 40MM Drivers, Padded Ear Cushions, Integrat...', 'JBL C100SI Wired In Ear Headphones with Mic, JBL Pure Bass Sound, One Button Multi-function Remote, Angled Buds for Comfor...', 'boAt Rockerz 255 Pro+ Bluetooth Neckband with Upto 60 Hours Playback, ASAP Charge, IPX7, Dual Pairing and Bluetooth v5.2(T...', 'Sony WH-CH720N, Wireless Over-Ear Active Noise Cancellation Headphones with Mic, up to 50 Hours Playtime, Multi-Point Conn...', 'Blaupunkt Newly Launched BH41 Bluetooth Wireless Over Ear Headphones I Long Playtime I 40MM Drivers I Foldable I Flexible...', 'OnePlus Bullets Z2 Bluetooth Wireless in Ear Earphones with Mic, Bombastic Bass - 12.4 Mm Drivers, 10 Mins Charge - 20 Hrs...', 'JBL C100SI Wired In Ear Headphones with Mic, JBL Pure Bass Sound, One Button Multi-function Remote, Premium Metallic Finis...', 'Zebronics Zeb-Storm Wired On Ear Headphone with 3.5mm Jack, Built-in Microphone for Calling, 1.5 Meter Cable, Soft Ear Cus...', '26', '45,003', '394,468', '108,157', '96,333', '204,007', '180,754', '2,814', '2', '142,628', '16,177', '1,261', '42,482', '₹1,999', '₹2,499', '₹349', '₹1,699', '₹849', '₹599', '₹1,299', '₹9,990', '₹1,499', '₹745', '₹499', '₹149']

In [85]:
title=[]
rating=[]
price=[]
try:
        response=requests.get(url="https://www.flipkart.com/search?q=headphone",headers=HEADERS).text
        soup=BeautifulSoup(response)
        result=soup.find_all('div',class_='_4ddWXP')
        l=0
        for i in result:
                try:
                        rating.append(i.find('span',class_='_2_R_DZ').text.strip())
                except:
                        rating.append(np.nan)
                try:
                        title.append(i.find('a',class_='s1Q9rs').text)
                except:
                        title.append(np.nan)
                try:
                        price.append(i.find('div',class_='_30jeq3').text)
                except:
                        price.append(np.nan)
                # title.append(i.find('a',class_='s1Q9rs').text)
                # rating.append(i.find('span',class_='_2_R_DZ').text.strip())
                # price.append(i.find('div',class_='_30jeq3').text)
except:
        print("Error")
        
d={"Title":title,"Price":price,"Rating":rating}
df=pd.DataFrame(d)
df.to_csv("EarbudsDataOfFlipkart.csv")

In [ ]:
"https://www.flipkart.com/search?q=headphone&sid=0pm%2Cfcn&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na"
"https://www.flipkart.com/search?q=headphone&sid=0pm%2Cfcn&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=headphone%7CHeadset&requestId=046dc3eb-af36-43a1-a3c4-e013398052d9&as-searchtext=head&page=2"

In [1]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
title=[]
rating=[]
price=[]
HEADERS = ({'User-Agent':'', 'Accept-Language': 'en-US, en;q=0.5'})
for i in range(1,10):
        flipkartEarbudsurl="https://www.flipkart.com/search?q=headphone&sid=0pm%2Cfcn&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=headphone%7CHeadset&requestId=046dc3eb-af36-43a1-a3c4-e013398052d9&as-searchtext=head&page={}".format(i)
        try:
                response=requests.get(url=flipkartEarbudsurl,headers=HEADERS).text
                soup=BeautifulSoup(response)
                result=soup.find_all('div',class_='_4ddWXP')
                for i in result:
                        try:
                                rating.append(i.find('span',class_='_2_R_DZ').text.strip())
                        except:
                                rating.append(np.nan)
                        try:
                                title.append(i.find('a',class_='s1Q9rs').text)
                        except:
                                title.append(np.nan)
                        try:
                                price.append(i.find('div',class_='_30jeq3').text)
                        except:
                                price.append(np.nan)
                
        except:
                print("error")
d={"Title":title,"Price":price,"Rating":rating}
df=pd.DataFrame(d)
df.to_csv("EarbudsData.csv")
df.head()

                                               Title   Price      Rating
0  Boult Audio Maverick with Quad Mic ENC, 45ms L...  ₹1,499    (14,931)
1  truke Buds Vibe with 35dB ANC, 4Mic ENC, 13mm ...  ₹1,299     (6,733)
2  OnePlus Bullets Wireless Z2 with Fast Charge, ...  ₹1,499  (8,66,605)
3      OnePlus Bullets Wireless Z2 Bluetooth Headset  ₹1,499  (8,66,605)
4  Apple AirPods(2nd gen) with Charging Case Blue...  ₹8,499  (1,30,512)

In [2]:
df
# "https://www.flipkart.com/search?q=laptop&sid=6bo%2Cb5g&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_2_na_na_na&as-pos=1&as-type=RECENT&suggestionId=laptop%7CLaptops&requestId=24ef11a1-4d60-4ed3-bfd8-bda800567fec&as-backfill=on&page=2"

                                                 Title   Price      Rating
0    Boult Audio Maverick with Quad Mic ENC, 45ms L...  ₹1,499    (14,931)
1    truke Buds Vibe with 35dB ANC, 4Mic ENC, 13mm ...  ₹1,299     (6,733)
2    OnePlus Bullets Wireless Z2 with Fast Charge, ...  ₹1,499  (8,66,605)
3        OnePlus Bullets Wireless Z2 Bluetooth Headset  ₹1,499  (8,66,605)
4    Apple AirPods(2nd gen) with Charging Case Blue...  ₹8,499  (1,30,512)
..                                                 ...     ...         ...
355  Portronics Harmonics Z5 Wireless Neckband, 33H...    ₹729     (2,810)
356  TXOR SENSO V 1.0 TWS EARBUDS, Bass+ 20 H Play ...    ₹572     (2,687)
357  Tunifi M19 Earbuds Upto 48 Hours Playback with...    ₹597     (3,637)
358  Fire-Boltt Fire Pods Ninja Pro 403 Earbuds TWS...    ₹999    (17,896)
359  bAot 102 NB with upto 24 hour paly back blueto...    ₹645     (2,112)

[360 rows x 3 columns]

In [ ]:
import requests
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd
title=[]
rating=[]
price=[]
HEADERS = ({'User-Agent':'', 'Accept-Language': 'en-US, en;q=0.5'})
for i in range(100):        
        flipkartEarbudsurl="https://www.flipkart.com/search?q=headphone&sid=0pm%2Cfcn&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_2_4_na_na_na&as-pos=2&as-type=RECENT&suggestionId=headphone%7CHeadset&requestId=046dc3eb-af36-43a1-a3c4-e013398052d9&as-searchtext=head&page={}".format(i)
        try:
                response=requests.get(url=flipkartEarbudsurl,headers=HEADERS).text
                soup=BeautifulSoup(response)
                result=soup.find_all('div',class_='_4ddWXP')
                for i in result:
                        try:
                                rating.append(i.find('span',class_='_2_R_DZ').text.strip())
                        except:
                                rating.append(np.nan)
                        try:
                                title.append(i.find('a',class_='s1Q9rs').text)
                        except:
                                title.append(np.nan)
                        try:
                                price.append(i.find('div',class_='_30jeq3').text)
                        except:
                                price.append(np.nan)
                
        except:
                print("error")
d={"Title":title,"Price":price,"Rating":rating}
df=pd.DataFrame(d)
df.to_csv("EarbudsData.csv")
df.head()

In [ ]:
gemUrl="https://mkp.gem.gov.in/computers-0806nb/search#/?q[]=laptop&page=1&_xhr=1"
resp=reques

In [217]:
HEADERS = ({'User-Agent':'', 'Accept-Language': 'en-US, en;q=0.5'})
name=[]
badge=[]
price=[]
Prices=[]
brand=[]

In [219]:
def collectDataFromGem():
                gemUrl="https://mkp.gem.gov.in/computers-0806nb/search#/?q[]=laptop&page=45&_xhr=1"
                response=requests.get(url=gemUrl).text
                soup=BeautifulSoup(response)
                laptopList=soup.find_all('div',class_='variant-desc')
                for i in laptopList:
                        try:
                                name.append(i.find('span',class_='variant-title').text)
                        except:
                                name.append(np.nan)
                        try:
                                badge.append(i.find('span',class_='badge').text)
                        except:
                                badge.append(np.nan)
                        try:
                                price.append((i.find_all('span',class_='m-w')[1]).text)
                                # values=float(SpanData[1:].replace(',',''))
                                # price.append(values)
                        except:
                                price.append(np.nan)
                        try:
                                brand.append(i.find('div',class_='variant-brand').text.strip().split(' ')[1]) 
                        except:
                                brand.append(np.nan) 
collectDataFromGem()
d={"Name":name,"Brand":brand,"Price in ₹":price,"Rating":badge}
df=pd.DataFrame(d)
df

,Name,Brand,Price in ₹,Rating
0,hp Intel Core i3 14 Inch Laptop ( Windows 11 …,hp,"₹11,250.00",4.0 - 4.49
1,acer Intel Core i7 14 Inch Laptop ( Windows …,acer,"₹12,000.00",4.5 - 5.0
2,acer Intel Core i7 14 Inch Laptop ( Windows …,acer,"₹12,600.00",4.5 - 5.0
3,hp Intel Core i7 15.6 Inch Laptop ( Windows …,hp,"₹12,998.16",4.5 - 5.0
4,hp Intel Core i5 14 Inch Laptop ( Windows 11 …,hp,"₹18,000.00",NaN
5,hp AMD Athlon 14 Inch Laptop ( DOS ),hp,"₹18,000.00",NaN
6,acer Intel Core i5 14 Inch Laptop ( Windows …,acer,"₹18,000.00",NaN
7,Coconics Intel Celeron 11.6 Inch Laptop ( …,Coconics,"₹18,463.00",4.5 - 5.0
8,hp AMD Athlon 14 Inch Laptop ( Windows 11 …,hp,"₹20,250.00",NaN
9,AXL Intel Celeron 14 Inch Laptop ( Windows …,AXL,"₹20,999.00",3.0 - 3.49
10,Coconics Intel Celeron 11.6 Inch Laptop ( …,Coconics,"₹21,009.00",4.5 - 5.0
11,hp AMD Athlon 14 Inch Laptop ( Windows 11 …,hp,"₹22,800.00",NaN
12,hp Intel Core i3 14 Inch Laptop ( Windows 11 …,hp,"₹11,250.00",4.0 - 4.49
13,acer Intel Core i7 14 Inch Laptop ( Windows …,acer,"₹12,000.00",4.5 - 5.0
14,acer Intel Core i7 14 Inch Laptop ( Windows …,acer,"₹12,600.00",4.5 - 5.0
15,hp Intel Core i7 15.6 Inch Laptop ( Windows …,hp,"₹12,998.16",4.5 - 5.0
16,hp Intel Core i5 14 Inch Laptop ( Windows 11 …,hp,"₹18,000.00",NaN
17,hp AMD Athlon 14 Inch Laptop ( DOS ),hp,"₹18,000.00",NaN
18,acer Intel Core i5 14 Inch Laptop ( Windows …,acer,"₹18,000.00",NaN
19,Coconics Intel Celeron 11.6 Inch Laptop ( …,Coconics,"₹18,463.00",4.5 - 5.0
20,hp AMD Athlon 14 Inch Laptop ( Windows 11 …,hp,"₹20,250.00",NaN
21,AXL Intel Celeron 14 Inch Laptop ( Windows …,AXL,"₹20,999.00",3.0 - 3.49
22,Coconics Intel Celeron 11.6 Inch Laptop ( …,Coconics,"₹21,009.00",4.5 - 5.0
23,hp AMD Athlon 14 Inch Laptop ( Windows 11 …,hp,"₹22,800.00",NaN

In [193]:
df.describe()

         Price in ₹
count     12.000000
mean   17197.430000
std     3981.507608
min    11250.000000
25%    12898.620000
50%    18000.000000
75%    20437.250000
max    22800.000000

In [89]:
df['Price'].sort_values(ascending=True)

6          ₹125,000.00
2          ₹140,000.00
3          ₹144,424.00
1          ₹145,000.00
7           ₹22,000.00
10          ₹24,500.00
5           ₹25,622.40
8           ₹26,533.20
9           ₹31,999.00
11          ₹39,417.00
0           ₹59,472.00
4           ₹77,280.00
Name: Price, dtype: object

In [212]:
gemUrl="https://mkp.gem.gov.in/computers-0806nb/search#/?q[]=laptop&page=5&_xhr=1"
response=requests.get(url=gemUrl,headers=HEADERS).text
soup=BeautifulSoup(response)
laptopList=soup.find_all('div',class_='variant-desc')
for i in laptopList:
        try:
                name.append("     "+i.find('span',class_='variant-title').text+"     ")
        except:
                name.append(np.nan)
        try:
                badge.append("     "+i.find('span',class_='badge').text+"     ")
        except:
                badge.append(np.nan)
        try:
                price.append((i.find_all('span',class_='m-w')[1]).text)
                                # values=float(SpanData[1:].replace(',',''))
                                # price.append(values)
        except:
                price.append(np.nan)
        try:
                brand.append("     "+i.find('div',class_='variant-brand').text.strip().split(' ')[1]+"    ") 
        except:
                brand.append(np.nan) 
d={"Name":name,"Brand":brand,"Price in ₹":price,"Rating":badge}
df=pd.DataFrame(d)
df

,Name,Brand,Price in ₹,Rating
0,hp Intel Core i3 14 Inch Laptop ( Window...,hp,"₹11,250.00",4.0 - 4.49
1,acer Intel Core i7 14 Inch Laptop ( Wind...,acer,"₹12,000.00",4.5 - 5.0
2,acer Intel Core i7 14 Inch Laptop ( Wind...,acer,"₹12,600.00",4.5 - 5.0
3,hp Intel Core i7 15.6 Inch Laptop ( Wind...,hp,"₹12,998.16",4.5 - 5.0
4,hp Intel Core i5 14 Inch Laptop ( Window...,hp,"₹18,000.00",NaN
5,hp AMD Athlon 14 Inch Laptop ( DOS ),hp,"₹18,000.00",NaN
6,acer Intel Core i5 14 Inch Laptop ( Wind...,acer,"₹18,000.00",NaN
7,Coconics Intel Celeron 11.6 Inch Laptop ...,Coconics,"₹18,463.00",4.5 - 5.0
8,hp AMD Athlon 14 Inch Laptop ( Windows 1...,hp,"₹20,250.00",NaN
9,AXL Intel Celeron 14 Inch Laptop ( Windo...,AXL,"₹20,999.00",3.0 - 3.49
10,Coconics Intel Celeron 11.6 Inch Laptop ...,Coconics,"₹21,009.00",4.5 - 5.0
11,hp AMD Athlon 14 Inch Laptop ( Windows 1...,hp,"₹22,800.00",NaN
12,hp Intel Core i3 14 Inch Laptop ( Window...,hp,"₹11,250.00",4.0 - 4.49
13,acer Intel Core i7 14 Inch Laptop ( Wind...,acer,"₹12,000.00",4.5 - 5.0
14,acer Intel Core i7 14 Inch Laptop ( Wind...,acer,"₹12,600.00",4.5 - 5.0
15,hp Intel Core i7 15.6 Inch Laptop ( Wind...,hp,"₹12,998.16",4.5 - 5.0
16,hp Intel Core i5 14 Inch Laptop ( Window...,hp,"₹18,000.00",NaN
17,hp AMD Athlon 14 Inch Laptop ( DOS ),hp,"₹18,000.00",NaN
18,acer Intel Core i5 14 Inch Laptop ( Wind...,acer,"₹18,000.00",NaN
19,Coconics Intel Celeron 11.6 Inch Laptop ...,Coconics,"₹18,463.00",4.5 - 5.0
20,hp AMD Athlon 14 Inch Laptop ( Windows 1...,hp,"₹20,250.00",NaN
21,AXL Intel Celeron 14 Inch Laptop ( Windo...,AXL,"₹20,999.00",3.0 - 3.49
22,Coconics Intel Celeron 11.6 Inch Laptop ...,Coconics,"₹21,009.00",4.5 - 5.0
23,hp AMD Athlon 14 Inch Laptop ( Windows 1...,hp,"₹22,800.00",NaN

In [213]:
df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
dtype: bool