In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [12]:
df=pd.read_csv('C:\\Users\\91930\\100dayML\\batsman_season_record.csv')
df.head()

          batsman  2015  2016  2017
0  AB de Villiers   513   687   216
1       DA Warner   562   848   641
2        MS Dhoni   372   284   290
3       RG Sharma   482   489   333
4         V Kohli   505   973   308